node_modules/
.expo/
.git/
android/app/build/
android/.gradle/
android/.cxx/
android/build/
android/local.properties
android/app/release.keystore
ios/build/
php-backend/
php-backend.zip
*.zip
*.apk
*.aab
*.tar.gz
